* {
  padding: 0;
  margin: 0;
}
.main {
  margin: 0 auto;
  width: 740px;
  height: 500px;
  background-color: rgb(246, 242, 247);
}
.input_textarea {
  width: 700px;
  height: 100px;
  margin: 10px 20px;
  background-color: #ffffff;
  font-family: "LatoRegular", Verdana, serif;
  text-align: left;
  font-size: 12px;
  line-height: 22px;
}
.keyboard_area {
  width: 700px;
  height: 201px;
  margin: 20px;
  background-color: #ffffff;
  font-size: 12px;
  line-height: 22px;
  font-family: "LatoRegular", Verdana, serif;
}
.first_row,
.second_row,
.third_row,
.fourth_row,
.fifth_row {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.btn {
  position: relative;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(70, 66, 66); 
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  outline: none;
  width: 40px;
  height: 40px;
}
.letter{
  background-color: rgb(70, 66, 66);
  
}
.extra_symbol {
  position: absolute;
  background-color: rgb(70, 66, 66);
  left: 1px;
  top: 1px;
}
.btn:hover {
  background-color: rgb(112, 86, 86);
  transition: 0.2s;
}

.active {
  background-color: rgb(204, 75, 75);
  transition: 0.1s;
}
.btn100 {
  width: 100px;
  height: 40px;
}
.infoChangeLang{
 
  width: 700px;
  height: 100px;
 
}
.textInfoChangeLang{
  padding: 36px 0 20px 50px;
  text-transform: uppercase;
  font-family: "LatoRegular", Verdana, serif;
  text-align: left;
  font-size: 20px;
  line-height: 24px;
}