* {
  padding: 0;
  margin: 0;
  background-color: rgb(197, 194, 194);
}
.main {
  margin: 0 auto;
  width: 740px;
  height: 380 px;
  background-color: rgb(246, 242, 247);
}
.input_textarea {
  width: 700px;
  height: 100px;
  margin: 10px 20px;
  background-color: #ffffff;
  font-family: "LatoRegular", Verdana, serif;
  text-align: left;
  font-size: 12px;
  line-height: 22px;
}
.keyboard_area {
  width: 700px;
  height: 240px;
  margin: 0 20px 10px 20px;
  background-color: #ffffff;
  font-size: 12px;
  line-height: 22px;
  font-family: "LatoRegular", Verdana, serif;
}
.first_row,
.second_row,
.third_row,
.fourth_row,
.fifth_row {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.btn {
  position: relative;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(70, 66, 66);
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  outline: none;
  width: 40px;
  height: 40px;
}
.extra_symbal {
  position: absolute;
  background-color: rgb(70, 66, 66);
  left: 5px;
  top: 2px;
}
.btn:hover {
  background-color: rgb(112, 86, 86);
  transition: 0.2s;
}
.btn:active {
  background-color: rgb(204, 75, 75);
  transition: 0.4s;
}

.btn100 {
  width: 100px;
  height: 40px;
}
